*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Zen Loop", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  font-weight: 800;
}

input:focus {
  outline: none !important;
  border-color: #624f48;
  box-shadow: 0 0 6px #624f48;
}

textarea:focus {
  outline: none !important;
  border-color: #2e2522;
  box-shadow: 0 0 6px #2e2522;
}

input[type=submit]:focus,
button::focus {
  background: #2e2522;
}

.flex {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.wrapper {
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 80vw;
  height: 100%;
}

.underline {
  text-decoration: underline;
}

body {
  background-color: #d9d5ca;
  background-image: url(images/cocoabg.webp);
  min-height: 100vh;
  background-position: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

i {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
a,
span,
p {
  color: white;
  max-width: 45ch;
}

a {
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 11.25rem;
}

h2 {
  font-size: 5.625rem;
}

h3 {
  font-size: 2.8125rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.7rem;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1.6rem;
  font-weight: 600;
}

#nav p {
  font-weight: normal;
}

input[type=submit] {
  all: unset;
  background: #624f48;
  border-radius: 0.35rem;
  height: 1.8125rem;
  width: 2.8125rem;
  white-space: nowrap;
  cursor: pointer;
}

input[type=text] {
  border: none;
  font-size: 1.5rem;
  min-width: 15.625rem;
  padding-left: 0.5rem;
  height: 3.125rem;
}

button,
button:focus {
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

input[type=submit],
button:active {
  outline: none;
  background: transparent;
  border: 1px solid grey;
  transition: 0.2s ease-in-out;
}

textarea {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  min-width: 22.5rem;
  min-height: 11.6875rem;
  margin-bottom: 1rem;
  border: none;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: #624f48;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e2522;
  border-radius: 1.25rem;
  border: 2px solid #795749;
}

.hamburger-icon--holder .hamburger-icon {
  display: none;
  cursor: pointer;
}

.close-button {
  font-size: 2rem;
  background-color: #d9d5ca;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 1.35rem 1rem 1rem 1rem;
  line-height: 0;
  float: right;
  margin-right: 4rem;
}

.hamburger-icon:after,
.hamburger-icon:before,
.hamburger-icon div {
  content: "";
  background-color: #fff;
  border-radius: 0.2rem;
  display: inline-block;
  height: 0.2rem;
  width: 2.5rem;
  margin: 0;
}

nav {
  z-index: 100;
  position: relative;
  background-color: #795749;
  height: 4.5rem;
}
nav * > * > * {
  cursor: pointer;
}
nav .nav-icon {
  display: none;
}
nav .nav__logo {
  gap: 0.9rem;
}
nav .nav__logo h4 {
  margin-right: -0.6875rem;
}
nav .nav__logo img {
  margin-top: 0.8rem;
}
nav .nav__items {
  height: 100% !important;
}
nav .nav__routes {
  margin: 0 6rem 0 auto;
  display: flex;
}
nav .nav__routes .flex {
  gap: 2.5rem;
}
nav .nav__routes ul li a:hover,
nav .nav__routes ul li p:hover {
  font-weight: 800;
}
nav .nav__routes ul i {
  margin: 0.3rem;
  font-size: 1rem;
}
nav .nav__routes ul .drop {
  gap: 0.45rem;
}
nav div#dropdown.nav__holder.flex {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}
nav .nav__social svg:focus,
nav .nav__social svg:hover {
  scale: 1.1;
}
nav .nav__social ul {
  padding-top: 0.4rem;
}
nav .nav__social ul li i {
  font-size: 1.8rem;
}
nav .nav__login {
  gap: 0.5rem;
  margin-left: 10%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  padding: 0.25rem 0.7rem;
  transition: 0.2s;
}
nav .nav__login .login-btn {
  color: white;
}
nav .nav__login:hover, nav .nav__login:focus {
  scale: 1.06;
}

.nav__store.show_store {
  opacity: 0.9;
  border-radius: 0 0 2.5vw 2.5vw;
  height: -moz-fit-content;
  height: fit-content;
  transition: opacity 400ms, height 400ms;
}
.nav__store.show_store .flex {
  opacity: 1;
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  pointer-events: auto;
}

.nav__store {
  height: 0;
  opacity: 0;
  position: absolute;
  top: 4.5rem;
  z-index: 999;
  left: 0;
  right: 0;
  color: white;
  background-color: #624f48;
  padding: 2.3rem 0;
  transition: opacity 400ms, height 400ms;
}
.nav__store .flex {
  opacity: 0;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none; /* Pointer events disabled by default */
}
.nav__store .nav__store__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5.1vw;
  justify-content: center;
  align-items: baseline;
}
.nav__store .nav__store__links ul {
  margin-bottom: 1.6rem;
}
.nav__store .nav__store__links ul li {
  flex-direction: column;
  flex-wrap: wrap;
}
.nav__store .nav__store__links ul li a,
.nav__store .nav__store__links ul li h3 {
  text-align: center;
  margin-right: auto;
}
.nav__store .special-offer--holder {
  flex-direction: column;
}
.nav__store .special-offer {
  height: 95%;
  border: 1px solid #d9d5ca;
  padding: 1.4rem 1.8rem;
  margin: 1.8rem auto;
  border-radius: 0.35rem;
}
.nav__store .special-offer h3 {
  margin: 1rem auto 1rem;
  width: 100%;
  font-size: 2.6rem;
  text-align: center;
}
.nav__store .special-offer button.btn-white-outline {
  padding: 0.3rem;
  border: 1px solid #d9d5ca;
  color: white;
  margin: 0 auto;
  width: 100%;
  border-radius: 0.35rem;
}

.main.wrapper {
  width: 100%;
  max-width: 100%;
  gap: 5vw;
}

.main {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  margin-bottom: 6rem;
}
.main .main--left {
  text-align: center;
}
.main .main--left .main__text-area h2,
.main .main--left .main__text-area h3,
.main .main--left .main__text-area p {
  color: #795749;
}
.main .main--left .main__text-area .header {
  width: 18.75rem;
  margin: 0 auto 2rem auto;
  border-bottom: 0.1875rem solid #624f48;
}
.main .main--left .main__text-area .header span {
  font-size: 11.25rem;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0.7;
}
.main .main--left .main__text-area span:first-child {
  color: #795749;
}
.main .main--left .main__text-area span:nth-child(2) {
  color: white;
}
.main .main--left .main__text-area span:nth-child(3) {
  color: #795749;
}
.main .main--left .main__text-area span:nth-child(4) {
  color: white;
}
.main .main--left .main__text-area span:nth-child(5) {
  color: #624f48;
}
.main .main--left .main__text-area p {
  text-align: center;
}
.main .main--left .main__text-area .line {
  margin: 0 auto;
  width: 50%;
  border-bottom: 2px solid #624f48;
  margin: 2rem auto;
}
.main .main--right {
  position: relative;
}
.main .main--right .main__shop_info .main__shop_info__visit-us {
  position: relative;
}
.main .main--right .main__shop_info .main__shop_info__visit-us h4 {
  color: #795749;
  position: absolute;
  top: 0rem;
  left: -8.4rem;
}
.main .main--right .main__shop_info .main__shop_info__visit-us img {
  position: absolute;
  left: -5.75rem;
  top: -4rem;
}
.main .main--right .main__shop_info__img img {
  border-radius: 1rem;
  max-height: 36rem;
  height: 85%;
  width: 60rem;
}
.main .main--right .main__shop_info__address {
  background-color: #795749;
  opacity: 0.9;
  position: absolute;
  right: -1.2rem;
  top: -2.6rem;
  border-radius: 0.35rem;
  padding: 1.1rem 1.2rem;
}
.main .main--right .main__shop_info__address h4 {
  font-weight: 200;
}
.main .main--right .main__shop_info__small-chocolate {
  position: absolute;
  bottom: -4rem;
  right: -2rem;
  width: 100%;
  display: flex;
  justify-content: right;
}
.main .main--right .main__shop_info__small-chocolate img {
  aspect-ratio: 1;
  border-radius: 5%;
  width: min(10vw, 10rem);
  min-width: 5.1875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #624f48;
  height: auto;
  width: 100%;
  padding: 1.2rem 0;
}
footer p,
footer h5 {
  font-weight: 200;
}
footer .wrapper {
  width: 80vw;
}
footer .footer__logo {
  gap: 0.4rem;
}
footer .footer__logo h5.footer__logo-text {
  margin-right: -0.35rem;
}
footer .footer__logo img.footer__logo-img {
  margin-top: 0.2rem;
  max-width: 3.5rem;
}
footer p.footer__registration {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 78.4375em) {
  .nav-icon {
    display: block;
  }
  .main {
    flex-direction: column;
    gap: 0;
  }
  body section .main--right {
    max-width: 95%;
  }
  body section .main--left {
    margin-top: 4rem;
  }
  .main__shop_info__address {
    right: 3.8rem !important;
  }
  .main .main--right .main__shop_info__small-chocolate {
    position: absolute;
    bottom: 1rem;
    left: 0;
    scale: 0.8;
  }
  .main__shop_info__visit-us img {
    left: -3rem !important;
  }
}
@media (max-width: 72.5em) {
  #nav .hamburger-icon--holder {
    align-items: center;
    height: 89%;
    display: flex;
    float: right;
    margin-right: 2rem;
  }
  #nav .hamburger-icon {
    display: block;
    width: 2.5rem;
    scale: 0.6;
  }
  .nav__items {
    display: none;
  }
}
@media (max-width: 72.5em) {
  nav#nav.show_nav * > * > * {
    cursor: pointer;
  }
  nav#nav.show_nav {
    position: absolute;
    right: 0;
    width: 14rem;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0 0 0 1rem;
  }
  nav#nav.show_nav .hamburger-icon--holder,
  nav#nav.show_nav .hamburger-icon {
    display: none;
  }
  nav#nav.show_nav .nav__items .wrapper {
    justify-content: flex-start;
  }
  nav#nav.show_nav .nav__items {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: inline-block;
  }
  nav#nav.show_nav .nav__items .wrapper.flex {
    flex-direction: column;
  }
  nav#nav.show_nav .nav__routes {
    margin: 2.2rem 0 0 0;
  }
  nav#nav.show_nav .nav__routes .flex {
    flex-direction: column;
    gap: 1.5rem;
  }
  nav#nav.show_nav .nav__social {
    margin-top: 2.4rem;
  }
  nav#nav.show_nav .nav__social .flex {
    flex-direction: column;
  }
  nav#nav.show_nav .nav__login.flex {
    margin: 2.2rem 0 0 0;
  }
  nav#nav.show_nav .nav__routes .flex .nav__holder.flex {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .nav__store.show_store {
    top: 0;
  }
}
#our-story.grid {
  color: #624f48;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  height: 100%;
  padding: 0 2rem;
}
#our-story.grid p {
  color: #624f48;
}
#our-story.grid img {
  border-radius: 0.35rem;
}
#our-story.grid span {
  font-size: 2rem;
  font-weight: 800;
  color: #624f48;
  margin-right: 0.4rem;
  padding: 0.4rem 0.7rem 0 0.7rem;
  background-color: #d9d5ca;
  border-radius: 0.35rem;
  border: 2px solid #795749;
}
#our-story.grid .elm img:not(.grid__item_4 img) {
  width: 16.5rem;
  height: 18.75rem;
}
#our-story.grid .grid__item_1 {
  grid-column: 3/9;
  grid-row: 2/5;
}
#our-story.grid .grid__item_1 h2 {
  color: #624f48;
  margin-bottom: 1rem;
}
#our-story.grid .grid__item_1 span {
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
#our-story.grid .grid__item_2 {
  grid-column: 3/9;
  grid-row: 4/10;
  margin-top: 2rem;
  position: relative;
}
#our-story.grid .grid__item_2 span {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}
#our-story.grid .grid__item_3 {
  margin-top: 2rem;
  grid-column: 10/17;
  grid-row: 4/10;
}
#our-story.grid .grid__item_4 {
  grid-column: 10/17;
  grid-row: 2/5;
  position: relative;
}
#our-story.grid .grid__item_4 img {
  height: 16.875rem;
  height: 18.75rem;
}
#our-story.grid .grid__item_4 span {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}
#our-story.grid .grid__item_5 {
  grid-column: 18/26;
  grid-row: 2/5;
  margin-bottom: 3rem;
}
#our-story.grid .grid__item_6 {
  grid-column: 18/25;
  grid-row: 4/10;
  margin-top: 4rem;
  position: relative;
}
#our-story.grid .grid__item_6 span {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}
#our-story.grid .grid__item_7 {
  grid-column: 23/33;
  grid-row: 4/10;
  max-width: 400.35rem;
  margin-left: 3rem;
}
#our-story.grid .grid__item_8 {
  grid-column: 26/33;
  grid-row: 1/6;
  position: relative;
}
#our-story.grid .grid__item_8 span {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}

.ourStory--holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (max-width: 98.125rem) {
  #our-story.grid {
    color: #624f48;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 15rem 6vw 6vw 6vw;
    gap: 4rem;
  }
  #our-story.grid .elm {
    max-width: 30vw;
    margin: 0;
  }
  #our-story.grid .grid__item_1 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #our-story.grid .grid__item_1 h2 {
    color: #624f48;
    margin-top: -2rem;
  }
  #our-story.grid .grid__item_2 {
    grid-row: 1/2;
    grid-column: 4/8;
  }
  #our-story.grid .grid__item_3 {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  #our-story.grid .grid__item_4 {
    grid-column: 4/8;
    grid-row: 1/4;
  }
  #our-story.grid .grid__item_4 img {
    height: 16.875rem;
  }
  #our-story.grid .grid__item_5 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  #our-story.grid .grid__item_6 {
    height: 18.75rem;
    grid-column: 4/8;
    grid-row: 3/4;
  }
  #our-story.grid .grid__item_7 {
    grid-column: 1/4;
    grid-row: 4/4;
  }
  #our-story.grid .grid__item_8 {
    grid-column: 4/8;
    grid-row: 4/4;
  }
  .content {
    padding: 0 1rem;
  }
}
@media (max-width: 68.75rem) {
  #our-story.grid {
    display: flex;
    flex-direction: column;
  }
  #our-story.grid div.elm,
  #our-story.grid img {
    gap: 3rem;
    max-width: 70vw;
    width: 34.375rem !important;
    height: unset;
    margin: auto;
  }
  #our-story.grid img {
    height: 25rem !important;
    margin: auto;
  }
}
.contact-page .main form.flex {
  gap: 0;
}
.contact-page .main img {
  position: relative;
  width: 41vw;
  height: 51vh;
  max-width: 40vw;
}
.contact-page .main input[type=submit] {
  background-color: #624f48;
  color: white;
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
}
.contact-page .main .content.flex {
  gap: 3rem;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.contact-page .main .newsletter {
  position: relative;
}
.contact-page .main .newsletter .newsletter__form {
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
.contact-page .main .newsletter .newsletter__form h3 {
  margin: 0;
}
.contact-page .main .newsletter .newsletter__form input[type=submit] {
  border-radius: 0 0.35rem 0.35rem 0;
}
.contact-page .main .contact-us h2 {
  color: #795749;
  margin-bottom: 1rem;
  font-weight: 500;
}
.contact-page .main .contact-us .contact-us__text-input-zone {
  display: flex;
  height: 13.125rem;
}
.contact-page .main .contact-us input[type=text] {
  margin-right: 2rem;
}
@media (max-width: 45em) {
  .contact-page .contact-us__text-input-zone {
    flex-direction: column;
    height: unset !important;
  }
  .contact-page img {
    display: none;
  }
  .contact-page .main .newsletter__form {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 85em) {
  .contact-page .main img {
    position: relative;
    width: 40rem;
    height: 40rem;
    max-width: 40.125rem;
  }
  .contact-page .main .content.flex {
    gap: 2rem 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 118.75em) {
  .main .main--right .main__shop_info__img img {
    width: unset;
  }
  .main--right {
    scale: 0.8;
  }
  .main.wrapper {
    gap: 0;
  }
  .main__shop_info__small-chocolate {
    scale: 0.8;
  }
  .main__shop_info__small-chocolate {
    right: 0 !important;
  }
  .main .main--right .main__shop_info__address {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 2.4rem;
    left: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main__shop_info__visit-us h4 {
    left: -6.8rem !important;
    top: 5rem !important;
  }
  .main .main--right .main__shop_info .main__shop_info__visit-us img {
    left: -4rem !important;
    top: 1rem;
  }
}
@media (max-width: 46.875em) {
  .main__shop_info,
  .main .main--right .main__shop_info .main__shop_info__visit-us h4 {
    display: none;
  }
  .main__shop_info__small-chocolate {
    display: none !important;
  }
  .contact-page .newsletter__form {
    position: relative !important;
  }
}/*# sourceMappingURL=style.css.map */